L0	ICON	"../res/l0.ico"
L1	ICON	"../res/l1.ico"
L2	ICON	"../res/l2.ico"
L3	ICON	"../res/l3.ico"
L4	ICON	"../res/l4.ico"
L5	ICON	"../res/l5.ico"
L6	ICON	"../res/l6.ico"
L7	ICON	"../res/l7.ico"
L8	ICON	"../res/l8.ico"
L9	ICON	"../res/l9.ico"
L10	ICON	"../res/l10.ico"
L11	ICON	"../res/l11.ico"
L12	ICON	"../res/l12.ico"
L13	ICON	"../res/l13.ico"
L14	ICON	"../res/l14.ico"
